body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
	font-size: 40px;
}

.navbar {
	
	width: 95%;
	padding: 1% 2.5%;
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navbar a {
	color: black;
	text-decoration: none;
	margin-right: 20px;
	padding: 8px 14px;
	border-radius: 4px;
}

.navbar a:hover {
	background: #dddddd;
}

.linking {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;       
	position: absolute;
	top: 100%;
	background: #dddddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 1000;
  
}

/* MENU LINKS */
.dropdown-content a {
	margin-top: 10px;
	display: block;
	padding: 10px;
	
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
	background: #bbbbbb;
}

.dropdown:hover .dropbtn {
  background: #dddddd;
  border-radius: 4px;
}

.fancy-line {
  border: none;             
  height: 1px;             
  background-color: #444444;  
  width: 95%;               /* line width */
}

.info-block {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	font-size: 26px;
}

.featured-projects {
	background: #eeeeee;
	width: 94%;
	margin-left: 3%;
	padding-bottom: 20px;
	padding-top: 20px;
	border-radius: 12px;
	margin-top: 20px;
}